{% extends "osnova/base.html" %}
{% block title %}Услуги{% endblock %}
{% block content %}
<div class="uslugi-section">
    <h1 class="uslugi-h1">Страница с услугами</h>
    <div class="uslugi-container">
        <div class="uslugi-item">
        <h3>Быстро</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eveniet minima dolorum, placeat omnis rerum magni, molestiae ipsum nesciunt dolore porro</p>
        </div>
        <div class="uslugi-item">
        <h3>Дешево</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eveniet minima dolorum, placeat omnis rerum magni, molestiae ipsum nesciunt dolore porro</p>
        </div>
        <div class="uslugi-item">
        <h3>Качественно</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eveniet minima dolorum, placeat omnis rerum magni, molestiae ipsum nesciunt dolore porro</p>
        </div>
</div>
</div>
{% endblock %}
